.homeContainer {
    background-image: url("clouds.png");
    width: 100%;
    background-size: cover;
    background-position: bottom;
    height: calc(90vh - 70px);
    padding-top: 10vh;
}

.homeTitle {
    padding: 10px 30px;
    border-radius: 100px;
    border: solid 1px #1B3E5F;
    max-width: 300px;
    font-size: 20px;
    margin: 0 auto 0 auto;
}

.sloganpt2 {
    background: -webkit-linear-gradient(20deg, #a4c9ef, #076ECD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan {
    font-weight: 600;
    font-size: 80px;
}

.tryButton {
    font-family: 'Work Sans';
    margin: 40px auto 50px auto;
    padding: 15px 35px;
    background: -webkit-linear-gradient(45deg, rgb(12, 116, 214), rgb(69, 132, 191));
    border: solid 1px rgba(204, 223, 234, 0.236);
    color: white;
    border-radius: 30px;
    transition: all 0.75s ease;
    font-size: 25px;
}

.tryButton:hover {
    filter: brightness(130%);
    cursor: pointer;
}